# URL base del backend
# Android Emulator : http://10.0.2.2:8000
# iOS Simulator    : http://localhost:8000
# Dispositivo real : http://<IP-de-tu-maquina>:8000
EXPO_PUBLIC_API_URL=http://10.0.2.2:8000
